.grid-element {
	/*position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;*/
    //background-size: 50px 50px;
    //background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.grid-tile {
	display: inline-block;
	border: 1px solid black;
	box-sizing: border-box;
	vertical-align: top;
}